@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Nav Bar */
.header-nav{
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ECEEF2; */
    background-color: #0F1219;
}
.logo{
    color:#15C4B4; 
    font-weight: bolder;
    font-size: 2.2rem;
    animation: logo 5s linear 0s infinite normal none;
}
.nav-list{
    max-width:45%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
.nav-list a{
    text-decoration: none;
    color: #fff;
}
.nav-list li{
    font-size:1rem ;
    padding: 1rem 0.7rem;
    /* border: 1px solid #ECEEF2; */
    border-right:none ;
    font-weight: bold;

}
.home{
    border-bottom: 3px solid #15C4B4;
}
.nav-list :nth-child(2):hover{
    border-bottom: 3px solid #3ea397;
}
.nav-list :nth-child(3):hover{
    border-bottom: 3px solid #3ea397;
}

.btn{
    max-width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInBtn{
    padding: 50%;
}
.signInBtn {
    padding: .5rem;
    background-color: #13C5B1;
    border: 2px solid #13C5B1;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.signInBtn:hover {
    background-color: #3ea397;
    border: 2px solid #3ea397;
}

/*landing page*/
.landingPage {
    background: url("./images/landingPage.jpg") no-repeat center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBox {
    width: 50%;
    position: relative;
}

.searchBox input[type="text"] {
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

.trendingBtn {
    width: 20%;
    padding: 10px;
    margin-top: 20px;
    background-color: #13C5B1;
    border: 2px solid #13C5B1;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #DAF7FA;
    cursor: pointer;
}

.trendingBtn:hover {
    background-color: #3ea397;
    border: 2px solid #3ea397;
}

/* Search Result Section */
main{
    background-color: #0F1219;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 0;
}
.searchResult{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #fff;
    padding-left: 20rem;
}
.movieContainer{
    width: 100%;
    display: flex;
}
.moviePoster{
    width: 250px;
    height: 300px;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.overview{
    width: 60%;
    padding-top: 2rem;
}

@media screen and (max-width: 425px) {
    .search_box {
        width: 95%;
    }
}